.page-title {
    margin: 1em 0;
}

.page-subtitle {
    margin-bottom: 2em; // 32 ?
}


// 3?. Goods

.goods__table {

    tr {
        td:first-child {
            width: 42px + 16px + 16px; // 16 + width + 16
        }
    }
}

.goods__table-item-type-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;

    width: 1.71428em; // 1em;
    height: 1.71428em; // 1em;
    border-radius: 50%;

    //
    font-style: 14px; // 14/24
    line-height: 1.71428em;
    color: #fff;
}

.goods__table-item-type-icon {}

.goods__table-item-type-icon {}

// icons
i {}


// v.2 img svg
.goods__table-item-release-icon {
    display: inline-flex;
    align-items: center;

    img {
        width: 32px;
        height: 32px;
        margin-right: 2px;
    }
}


.goods-form {}

.goods__form {}


// Vuetify
.goods__add .v-btn {
    text-transform: none;
    // text-transform-none
}

.v-btn {
    text-transform: none !important;
}


// Componnts - Forms 

.form {}

.form-field {
    margin-bottom: 40px; // Иначе зачем класс, если к каждому элементу добалять mt-40 ?)
}

.form-field-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #555;
}

.form-field {
    .v-radio {
        // margin-top: 16px;
    }

    .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 16px; //8px;
    }
}