.page-title {
    margin: 1em 0;
}

.page-subtitle {
    margin-bottom: 2em; // 32 ?
}


// 3?. Goods

// 3.1 goods__table
.goods__table {

    tr {
        td:first-child {
            width: 42px + 16px + 16px; // 16 + width + 16
        }
    }
}

.goods__table-item-type-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;

    width: 1.71428em; // 1em;
    height: 1.71428em; // 1em;
    border-radius: 50%;

    //
    font-style: 14px; // 14/24
    line-height: 1.71428em;
    color: #fff;
}

.goods__table-item-type-icon {}

.goods__table-item-type-icon {}

// icons
i {}


// v.2 img svg
.goods__table-item-release-icon {
    display: inline-flex;
    align-items: center;

    img {
        width: 32px;
        height: 32px;
        margin-right: 2px;
    }
}


// 3.2
.goods-form {}

.goods__form {}


// Vuetify
.goods__add .v-btn {
    text-transform: none;
    // text-transform-none
}

.v-btn {
    text-transform: none !important;
}


// Componnts - Forms 

.form {}

.form-field {
    margin-bottom: 40px; // Иначе зачем класс, если к каждому элементу добалять mt-40 ?)
}

.form-field-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #555;
}

.form-field {
    .v-radio {
        // margin-top: 16px;
    }

    .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 16px; //8px;
    }
}

// TEMP DEV
.composition__table {
    width: 100%;
    width: 640px;

    td {
        border: 1px solid #000;
    }
}

// 3.3
.goods__compare {}

// $grid_item_gap: $columns_gap + px;
$grid_item_gap: 15px;
// grid

.compare.grid {

    grid-gap: $grid_item_gap;
    display: grid;
}

.compare {

    &__cap {}

    &__goods {
        &-item {
            position: relative;

            &-title {
                // color: var(--Text, #323232);
                // font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
            }

            &-image {
                // max-width: 160px;
                // padding-bottom: 100%;
                width: 160px;
                height: 160px;
                position: relative;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 160px;
                    max-height: 160px;
                    object-fit: contain;
                }
            }

            &-remove {

                position: absolute;
                top: 0;
                right: 0;
                display: inline-flex;
                justify-content: flex-end;

                i {}
            }

        }
    }

    &__spec-names {
        table {
            td {
                font-weight: 400;
            }
        }
    }

    &__spec-values {
        table {
            td {
                font-weight: 300;
            }
        }
    }



}

// 3. DS + style
// @media (min-width: get_grid_bp('ds_')+px) {
// @media (min-width: get_grid_bp('ds_')+px) {
.compare.grid {

    // grid-template-columns: 50px 150px; // +
    // grid-template-rows: repeat(3, 1fr);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "cap            goods"
        "spec-names     spec-values"

    ;
}

// }